# Rules Format (ports can be specified by name or by number):

# A --> B | Connects device A to device B
# A <-- B | Connects device B to device A
# A <--> B | Connects devices A and B both ways
# A <-x-> B | Does not allow conections between device A and device B

# Hardware Rules
pisound <--> M8
M8 <--> MC-101

# Software Rules
nanoKONTROL --> nanoRouterIN
nanoRouterOUT --> M8
nanoRouterOUT --> MC-101
nanoRouterOUT --> Zeditor

# Blocked Connections
nanoKONTROL <-x-> M8
nanoKONTROL <-x-> MC-101
nanoKONTROL <-x-> pisound

# Commented out to ensure Zeditor (.app) can communicate with the MC-101 (.hw)
# .hw <-x-> .app